[Unit]
Description=Litton7 for lab members
After=network-online.target docker.service
Requires=network-online.target docker.service

[Service]
WorkingDirectory=/opt/litton7-internal/
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
StandardOutput=journal
StandardError=journal
Restart=always
User=lclwebservice
Group=lclwebservice
EnvironmentFile=/opt/litton7-internal/.env
TimeoutStartSec=600
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
